#search-form {
  width: 600px;
  font-size: 18px;
  border-color: #353cf7;
}
.search {
  background-color: #353cf7;
  color: white;
  padding: 10px 20px;
  border: 1px solid #353cf7;
  border-radius: 10px;
  font-size: 18px;
}
.weather-app {
  border: 1px solid #acd0ff;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}
h2 {
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgb(121, 121, 122);
}

h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 400px;
  color: rgb(121, 121, 122);
}
ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(121, 121, 122);
  padding: 0px;
}
.today {
  text-align: end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(121, 121, 122);
}
.container {
  position: absolute;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(121, 121, 122);
}
.cloud-sun-icon {
  font-size: 25px;
  padding-top: 10px;
  color: #c0c3cb;
}
.sun-icon {
  font-size: 25px;
  padding-top: 10px;
  color: #c0c3cb;
}
.cloud {
  font-size: 25px;
  padding-top: 10px;
  color: #c0c3cb;
}
.cloud-shower-icon {
  font-size: 25px;
  padding-top: 10px;
  color: #c0c3cb;
}
.search-icon {
  padding-left: 10px;
}
#humidity {
  position: absolute;
  text-align: center;
  margin-left: 270px;
  margin-top: -60px;
}
#wind {
  position: absolute;
  text-align: center;
  margin-left: 270px;
  margin-top: -36px;
}
#date {
  position: absolute;
  text-align: end;
  margin-left: 500px;
  margin-top: -74px;
}
#description {
  position: absolute;
  text-align: end;
  margin-left: 500px;
  margin-top: -50px;
}
a {
  position: absolute;
  bottom: 250px;
  left: 310px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#temperature {
  margin-left: 20px;
}
